:root {
  --main-bg-color: #55bba3;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--main-bg-color);
  padding: 1rem;
  margin-top: 3rem;
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0 1rem;
}

h1 {
  font-size: 32px;
}

img {
  box-sizing: border-box;
  max-width: 80%;
  height: 500px;
  position: absolute;
  padding: 2rem 0;
  top: 0px;
  object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (min-width: 480px) {
  img {
    padding: 2rem;
    max-width: 100%;
    margin: 0;
    left: auto;
    right: auto;
  }
}

p {
  padding: 0;
  margin: 0;
}

.header-background {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  position: relative;
  transform: skewY(-10deg);
  height: 400px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: -120px;
}

.intro-section {
  margin-top: 16rem;
}

.projects-container {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  box-sizing: border-box;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 2px 2px 4px 0px #969696;
  min-width: 300px;
  background-color: white;
}

.main-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  background: rgb(235,255,251);
  background: radial-gradient(circle, rgba(235,255,251,1) 0%, rgba(202,245,235,1) 100%);
}